*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

h1{
    color: #fff;
    padding-bottom: 20px;
}

#video{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -10;

}


body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

#formulario{
    padding: 30px;
    margin: 10px;   
    border-radius: 10px;
    box-shadow: 0 0 rgba(0, 0, 0, .5);
    background-color: rgba(255, 255, 355, .19);
    border: .1rem solid rgba(255, 255, 355, .20);
}
span{
    color: #140303;
    font-weight: bold;
}

label {
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 4px;
}
input {
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    height: 2.5rem;
    margin-bottom: 10px;
    font-size: medium;  
}
textarea{
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    font-size: medium;
    resize: none;
}

#botones{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;

}

.img{
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

img{
    width: 100%;
    height: auto;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 2.5rem;
    font-weight: 700;
    font-size: large;
    background-color: #1f9b4c;
    color: #fff;
    cursor: pointer;
    border: none;
    flex-grow: 1;
}

#reset{
    background-color: rgb(11, 90, 90);
}

.error{
    text-align: center;
    background-color: #ff0000;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    height: 2.5rem;
    margin-bottom: 10px;
    font-size: medium;
}

.deshabilitar{
    pointer-events: none; 
    cursor: default;
    opacity: .7;
}

/* SPINNER */

.exito{
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    height: 2.5rem;
    font-weight: 500;
    font-size: large;
    background-color: #1f9b4c;
    color: #fff;
    margin-top: 15px;
}

.ocultar{
    display: none;
}



.mostrar{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.sk-chase {
    width: 40px;
    height: 40px;
    position: relative;
    animation: sk-chase 2.5s infinite linear both;
  }
  
  .sk-chase-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; 
    animation: sk-chase-dot 2.0s infinite ease-in-out both; 
  }
  
  .sk-chase-dot:before {
    content: '';
    display: block;
    width: 25%;
    height: 25%;
    background-color: #1f9b4c;
    border-radius: 100%;
    animation: sk-chase-dot-before 2.0s infinite ease-in-out both; 
  }
  
  .sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
  .sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
  .sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
  .sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
  .sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
  .sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
  .sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
  .sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
  .sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
  .sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
  .sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
  .sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }
  
  @keyframes sk-chase {
    100% { transform: rotate(360deg); } 
  }
  
  @keyframes sk-chase-dot {
    80%, 100% { transform: rotate(360deg); } 
  }
  
  @keyframes sk-chase-dot-before {
    50% {
      transform: scale(0.4); 
    } 100%, 0% {
      transform: scale(1.0); 
    } 
  }

 